# Local .terraform directories and files
**/.terraform/*
.terraform*

.external_modules*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplan
